body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Calibri , sans-serif;


}

header {
    height: 120px;
    background-color: #1a376a;


}
.container {
    flex: 1;
    background-color: #E5E5E5;

}

footer{
    height: 166px;
    background-color: #E1E8F1;
    font-family: Calibri , sans-serif;


}

.head_block {
    margin: 20px 70px 20px 70px;
    display: flex;
    flex-direction: row;
}
.head_1 {
    flex: 1;

}
.head_1_log {
    background-color: #1389E6;
    color: white;
    text-align: center;
    height: 81px;
    position: absolute;
    top: 20px;
}

.head_2_log {
    height: 66px;
    color: white;
    position: absolute;
    top: 27px;

}


.head_2 {
    flex: 1;
    top: 20px;

}
.head_thumbnail {
    height: 33px;
    width: 33px;
    position: absolute;
    top: 44px;
}
#clock {
    width: 112px;
    height: 57px ;
    font-size: 20px;
    color: white;

}

.head_3 {
    flex: 1;
    height: 80px;
    background-color: #0B264D;
    color: white;
    top: 20px;

}
.head_3_foto {
    width: 50px;
    height: 50px;
}


.html_container, .css_container {
    border: 2px #CBD3DE solid;
    flex: 1;
    padding: 40px;
    margin: 10px;
    background-color: white;



}
.content_container {
    display: flex;
    margin: 50px;
}

.thumbnail {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.tags_container {
    border: 2px #CBD3DE solid;
    margin: 50px;
    background-color: #EAEEF4;
    padding: 24px 57px 48px 30px;
}

.tags_container_blocks {
    display: flex;
    font-size: 30px;
    font-weight: bold;

}
.tag_block_1, .tag_block_2, .tag_block_3 {
    flex: 1;
    flex-direction: column;
    text-underline-offset: 4px;

}
.tag_video {
    color: #1E3351;
}
.tag_calc {
    color: #10376E;
}
.tag_audio {
    color: #325689;
}
.tag_forum {
    color: #1E3351;
}
.tag_settings {
    color: #3E6499;
}
.tag_table {
    color: #0B1F3A;
    font-size: 46px;
    font-weight: normal;
}



.foot_block {
    display: flex;
    flex-direction: row;
    margin: 30px 50px 86px 50px ;
}

.foot_block1 {
    flex: 1;
    background-color: #1389E6;
    height: 69px;
    color: white;
    text-align: center;
    margin-right: 22px;
}

.foot_block2 {
    flex: 8;
    height: 50px;
    padding-right: 20px;

}
.foot_block3 {
    flex: 1;
    background-color: #10376E;
    color: white;
    height: 60px;

}